#!/usr/bin/env zsh

alias l="exa --long --icons -lh --git --header"
alias la="exa --long --icons -lh --git --header --all"
alias lt="~/.scripts/tree.sh"
alias lx="exa -lbhHigUmuSa@ --time-style=long-iso --icons --long --git"
alias cl="clear"
alias upd-upg="brew update && brew upgrade"
alias pi="ssh pi@pi"
alias rn-init="npx react-native init $1 --template react-native-template-typescript"
alias pod-install="arch -x86_64 pod install"
alias android-studio="~/.JetbrainsScripts/studio"
alias webstorm="~/.JetbrainsScripts/webstorm"
alias cat="bat"
alias help="tldr"
alias npm-clean="npx npkill"
