#!/usr/bin/env zsh

alias ll="exa --long --icons -lh --git --header"
alias la="exa --long --icons -lh --git --header --all"
alias lt="~/.scripts/tree.sh"
alias lx="exa -lbhHigUmuSa@ --time-style=long-iso --icons --long --git"
alias cl="clear"
alias upd-upg="brew update && brew upgrade"
alias android-studio="~/.JetbrainsScripts/studio"
alias webstorm="~/.JetbrainsScripts/webstorm"
alias cat="bat --theme OneHalfLight --style=plain --paging=never"
alias bat="bat --theme OneHalfLight"
alias help="tldr"
alias npm-clean="npx npkill"
alias nvm="fnm"
